body {
    background-color: #ededed;
    color: #444;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    line-height: 2rem;
    margin: 16px;
}

h1 {
    font-family: "Lora", serif;
    font-size: 2rem;
    text-align: center;
}


h2 {
    color:#262626;
    font-size: 1.5rem;
    text-align: center;
}

header {
    border-bottom: 2px solid #54565B;
}

figcaption {
    margin-top: 20px;
    text-align: center;
    font-style: italic;
}

table {
    margin: 20px 0 20px 0;
}

table, th, td {
    border-collapse: collapse;
    border-spacing: 15px;
}

th, td {
    border: 1px solid #c9c7c6;
    text-align: center;
    padding: 10px;
}

article {
    margin-bottom: 25px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/* Properties for larger screens */

@media screen and (min-width: 700px) {
    body {
        width: 80%;
        margin: 0 auto;
    }
}

@media screen and (min-width: 1200px) {
    body {
        width: 60%;
        margin: 0 auto;
    }
}