body {
    background-color: #ededed;
    color: #444;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    line-height: 2rem;
    margin: 16px;
}

h1 {
    font-family: "Lora", serif;
    font-size: 2rem;
    text-align: center;
}


h2 {
    color:#262626;
    font-size: 1.5rem;
    text-align: center;
}

header {
    border-bottom: 2px solid #54565B;
}

/* Properties for larger screens */

@media screen and (min-width: 700px) {
    body {
        width: 80%;
        margin: 0 auto;
    }
}

@media screen and (min-width: 1200px) {
    body {
        width: 60%;
        margin: 0 auto;
    }
}